body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

section {
    padding: 60px 20px;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    font-family: Georgia, serif;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}    

#hero {
    background-color: #555;
    color: white;
    padding: 100px 20px;
}

#hero h1 {
    font-size: 3rem;
    font-family: georgia;
    font-weight:bold;
    margin: 0;
}

#portfolio {
    background-color: White;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 0.1);
}

.email-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

nav ul li a:hover, .email-link:hover {
    color: #fca311;
    transition: color 0.3;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 2.5rem;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px o;
    }
}